@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Light.otf"), url("/fonts/Gilroy-ExtraBold.ttf");
}

.gradient-border {
  background:
    linear-gradient(rgba(23, 23, 23, 0.8), rgba(23, 23, 23, 0.8)) padding-box,
    linear-gradient(to right, rgba(64, 170, 241, 0.15), rgba(217, 117, 244, 0.15)) border-box;
  border-radius: 5px;
  border: 1px solid transparent;
}

.gradient-border-focused {
  background:
    linear-gradient(rgb(23, 23, 23), rgb(23, 23, 23)) padding-box,
    linear-gradient(to right, rgba(64, 170, 241, 0.3), rgba(217, 117, 244, 0.3)) border-box;
  border-radius: 5px;
  border: 1px solid transparent;
}

.gradient-border-no-opacity {
  background:
    linear-gradient(rgb(23, 23, 23), rgb(23, 23, 23)) padding-box,
    linear-gradient(to right, rgba(64, 170, 241, 0.3), rgba(217, 117, 244, 0.3)) border-box;
  border-radius: 5px;
  border: 1px solid transparent;
}

.bg-gradient {
  background: linear-gradient(to right, rgba(64, 170, 241, 0.8), rgba(217, 117, 244, 0.8));
}

.bg-gradient-hover {
  background: linear-gradient(to right, rgba(64, 170, 241, 1), rgba(217, 117, 244, 1));
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #4a4a4a;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222222;
  border: 1px solid #000000;
  border-radius: 8px;
}
