### Use this file as an example with which to create your own .env file ###
### Do not commit your .env file to git ###
### Check out README.md for instructions on how to get the values for each of these variables ###

# Database
DATABASE_URL                        = "postgresql://postgres:postgres@localhost:5432/postgres?schema=public"

# JWT
JWT_SECRET_KEY                      = "{{REPLACE_ME}}"
JWT_REFRESH_SECRET_KEY              = "{{REPLACE_ME}}"

# Google
GOOGLE_CLIENT_ID                    = "{{REPLACE_ME}}"
GOOGLE_CLIENT_SECRET                = "{{REPLACE_ME}}"

# OpenAI
OPENAI_API_KEY                      = "{{REPLACE_ME}}"