name: Run tests & code coverage
on: [push, pull_request]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Node 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: >
          cd api &&
          yarn install
      - name: Run tests and collect coverage
        run: >
          cd api &&
          yarn run test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3